<div id="<%= dom_id writing %>" class="writing">
  <h2 class="writing-title">
    <%= link_to writing.title, writing_path(writing.slug), class: "writing-title-link" %>
  </h2>

  <% if writing.published? %>
    <div class="writing-meta text-muted">
      Published <%= time_tag writing.published_at.to_date %>
    </div>
  <% end %>
</div>
