<p style="color: green"><%= notice %></p>

<% content_for :title, "Writings" %>

<%= render "shared/writings_navigation" %>

<h1>Writings</h1>

<div id="writings">
  <% @writings.each do |writing| %>
    <%= render writing %>
  <% end %>
</div>
