<%# Brand Protection Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Shield outline -->
    <path d="M35 35 L50 30 L65 35 L65 55 C65 60, 50 70, 50 70 C50 70, 35 60, 35 55 Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
    />
    <!-- Check mark -->
    <path d="M45 50 L48 55 L55 45"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
