<%# Design Rights Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Pencil shape -->
    <path d="M35 65 L55 45 L65 35 L55 25 L45 35 L25 55 L35 65 Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
    />
    <!-- Design elements -->
    <path d="M40 50 C45 45, 50 45, 55 50 M30 60 C35 55, 40 55, 45 60"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
