<%# Trademark Management Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- TM symbol -->
    <path d="M35 45 L45 45 M40 45 L40 60"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          fill="none"
    />
    <!-- M part -->
    <path d="M50 45 L55 60 L60 45 L65 60"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
