<%= render(Primer::Alpha::ActionMenu.new(menu_id: "user-menu", anchor_align: :end)) do |menu| %>
  <% menu.with_show_button do |button| %>
    <div class="d-flex flex-items-center">
      <svg class="octicon mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm3.82-3.9L7 6.49v3.388a.75.75 0 1 0 1.5 0V6.49l1.68-2.39a.75.75 0 0 0-1.23-.86l-.97 1.38-.97-1.38a.75.75 0 0 0-1.23.86Z"></path>
      </svg>
      <%= user.email_address %>
    </div>
    <% button.with_trailing_action_icon(icon: :"triangle-down") %>
  <% end %>

  <% menu.with_group(heading: "Account") %>
  
  <% menu.with_item(label: "Account Settings", href: dashboard_path) do |item| %>
    <% item.with_leading_visual_icon(icon: :person) %>
  <% end %>

  <% menu.with_item(label: "Account Verification", href: verification_dashboard_path) do |item| %>
    <% item.with_leading_visual_icon(icon: :shield) %>
  <% end %>
  
  <% if user.is_staff? %>
    <% menu.with_item(label: "Staff Member") do |item| %>
      <% item.with_leading_visual_icon(icon: :person) %>
    <% end %>
  <% end %>
  
  <% if user.is_admin? %>
    <% menu.with_item(label: "Admin") do |item| %>
      <% item.with_leading_visual_icon(icon: :shield) %>
    <% end %>
  <% end %>

  <% menu.with_divider %>
  <% menu.with_group(heading: "Content") %>

  <% menu.with_item(label: "Blog Posts", href: "#blog") do |item| %>
    <% item.with_leading_visual_icon(icon: :book) %>
  <% end %>

  <% menu.with_item(label: "Events", href: "#events") do |item| %>
    <% item.with_leading_visual_icon(icon: :calendar) %>
  <% end %>

  <% menu.with_divider %>
  <% menu.with_group(heading: "Communication") %>

  <% menu.with_item(label: "Contact Requests", href: "#contacts") do |item| %>
    <% item.with_leading_visual_icon(icon: :mail) %>
  <% end %>

  <% menu.with_divider %>
  <% menu.with_group(heading: "Account Info") %>

  <% menu.with_item(label: "Member since #{user.created_at.strftime('%B %Y')}") do |item| %>
    <% item.with_leading_visual_icon(icon: :clock) %>
  <% end %>

  <% menu.with_divider %>

  <%= button_to session_path, 
      method: :delete,
      class: "btn btn-danger width-full",
      style: "border-radius: 0" do %>
    <div class="d-flex flex-items-center flex-justify-center">
      <svg class="octicon mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
        <path d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 0 1 0 1.5h-2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 0 1 0 1.5h-2.5A1.75 1.75 0 0 1 2 13.25Zm10.44 4.5-1.97-1.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734l1.97-1.97H6.75a.75.75 0 0 1 0-1.5Z"></path>
      </svg>
      Sign Out
    </div>
  <% end %>
<% end %>
