<%# Location Selection Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Location pin -->
    <path d="M50 30 C60 30, 65 40, 65 45 C65 55, 50 70, 50 70 C50 70, 35 55, 35 45 C35 40, 40 30, 50 30"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
    />
    <!-- Inner circle -->
    <path d="M45 45 A5 5 0 1 1 45 45.01"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
