<%# Dispute Resolution Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Scales of justice -->
    <path d="M35 45 L65 45 M50 35 L50 45"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          fill="none"
    />
    <!-- Balance pans -->
    <path d="M35 45 A5 5 0 1 1 35 45.01 M65 45 A5 5 0 1 1 65 45.01"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
