<%# Legal Playbook Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Open book -->
    <path d="M35 40 C35 40, 45 35, 50 35 C55 35, 65 40, 65 40 L65 60 C65 60, 55 55, 50 55 C45 55, 35 60, 35 60 Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
    />
    <!-- Guidelines -->
    <path d="M40 45 L45 45 M40 50 L45 50 M55 45 L60 45 M55 50 L60 50"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
