<%# Regulatory Compliance Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Compliance checklist -->
    <path d="M35 35 L65 35 L65 65 L35 65 Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
    />
    <!-- Checkmarks -->
    <path d="M40 45 L45 50 L55 40 M40 55 L45 60 L55 50"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
