<%# Single North Star principle page template - content to be added %>
<%# Single North Star Page %>

<%# About Navigation %>
<%= render "shared/about_navigation" %>

<%# Content %>
<div class="principle-page single-north-star">
</div>
