<%# Ethical Sourcing Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Globe -->
    <path d="M40 50 A15 15 0 1 1 40 50.01"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          fill="none"
    />
    <!-- Ethical checkmark -->
    <path d="M45 50 L48 55 L55 45"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
