/* Hero Heading */
.hero-heading {
  font-family: monospace;
  font-size: 1.8rem !important;
  line-height: 1.4;
  letter-spacing: -0.02em;
  max-width: 900px;
  font-weight: 700 !important;
}

@media (min-width: 768px) {
  .hero-heading {
    font-size: 2.2rem !important;
  }
}

@media (min-width: 1024px) {
  .hero-heading {
    font-size: 2.5rem !important;
  }
}
