/* Logo Style */
.mono-font {
  font-family: monospace;
  font-weight: 700;
}

.logo-large {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
  font-family: 'Major Mono Display', monospace;
}

.logo-link {
  text-decoration: none;
}

.logo-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-success-fg);
}

@media (min-width: 576px) {
  .logo-large {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .logo-large {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .logo-large {
    font-size: 4rem;
  }
}
