<%# Tax Planning Icon %>
<div class="icon-container">
  <svg class="feature-icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- White background rectangle -->
    <rect width="85" height="65" x="-20" y="10" fill="white"/>
    <!-- Calculator outline -->
    <path d="M35 35 L65 35 L65 65 L35 65 Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
    />
    <!-- Percentage symbol -->
    <path d="M45 45 L55 55 M45 45 A2 2 0 1 1 45 45.01 M55 55 A2 2 0 1 1 55 55.01"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-dasharray="1 2"
    />
  </svg>
</div>
